:root {
  background-color: #242424;
  overflow-x: hidden;
}

.button {
  @apply rounded-md p-1 px-1 font-pixelify;
}

.button-red {
  @apply button bg-red-800 text-white transition-all hover:bg-red-600 active:bg-red-300 active:text-black sm:px-7;
}

.button-blue {
  @apply button rounded-e-md bg-sky-700 text-white transition-all hover:bg-sky-800 active:bg-sky-300 active:text-black sm:px-10;
}

.overlay {
  @apply relative;
}
.overlay::after {
  @apply absolute left-0 top-0 h-full w-full bg-black/50;
  content: '';
}

.result-list {
  @apply flex w-fit flex-wrap justify-evenly gap-4;
}

.result-item {
  max-width: 14rem;
  box-shadow: rgba(40, 40, 40, 0.4) 4px 4px 5px;
  @apply z-20 h-fit w-full rounded-md bg-slate-100/90 p-2 font-pixelify transition-all duration-300 hover:bg-blue-400/90 hover:text-slate-300;
}

.result-item--active {
  @apply bg-blue-500;
}

.result-item__img {
  @apply h-48 w-full object-cover;
}

.result-details {
  box-shadow: rgba(40, 40, 40, 0.4) 4px 4px 5px;
  @apply sticky top-8 z-20 -mr-4 h-fit basis-full select-none rounded-l-2xl bg-red-600/80 p-4 pr-8;
}

.main {
  background-image: url('https://img.freepik.com/free-vector/space-seamless-pattern-black-white-version_1284-38816.jpg?w=740&t=st=1699961540~exp=1699962140~hmac=5ae6b03f5742061ac41fc95ba19e104fbc132869ca1601f106ec415a3768ff6b');
}
